{% extends "_base.html" %}

{% block title %} My Bills {% endblock %}

{% block content %}
    <table  class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Description</th>
                <th scope="col">value</th>

            </tr>
        </thead>
        <tbody>
            {% for bill in bills %}
            <tr scope="row">
                <th scope="row">{{ bill.id }}</th>
                <td> {{ bill.description }} </td>
                <td> ${{ bill.value }} </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded bg-dark">
        Total: ${{ total }}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
{% endblock %}