{% extends "_base.html" %}

{% block title %} My Bills {% endblock %}

{% block content %}

<script>
    window.onload = function () {
        var chart = new CanvasJS.Chart("monthlybillchart", {
            exportEnabled: false,
            animationEnabled: true,
            theme: "dark2",
            title: {
                text: "Monthly Bills",
                dockInsidePlotArea: true,
                verticalAlign: "center",
                height: 350,
                fontSize: 22
            },
            subtitles: [{
                text: ""
            }],
            data: [{
                type: "doughnut",
                startAngle: -90,
                indexLabel: "{name} ({y})",
                yValueFormatString: "#,##0.0#\"%\"",
                dataPoints: {{ bills_pie_values| safe }}
        }]
      });
    chart.render();
    }
</script>
<div class="container">
    <div class="row" style="margin-top: 10px;">
        <div class="col-sm-8">
            <table class="table table-striped monthly-bills">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Description</th>
                        <th scope="col">Value</th>
                        <th scope="col">Due Day</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bill in bills %}
                    <tr scope="row">
                        <th scope="row">{{ bill.id }}</th>
                        <td> {{ bill.description }} </td>
                        <td> {{ bill.currency.symbol }} {{ bill.value }} </td>
                        <td> {{ bill.due_day }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-4">
            <div id="monthlybillchart" style="width:100%; height: 350px;"></div>
        </div>
    </div>
    
    <div class="row" style="margin-top: 10px;">
        <div class="col-sm-8">
            <table class="table table-striped crypto-investments">
                <thead>
                    <tr>
                        <th scope="col">Coin</th>
                        <th scope="col">Amount</th>
                        <th scope="col">GBP</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in coins.items %}
                    <tr scope="row">
                        <th scope="row">{{ key }}</th>
                        <td> {{ value.balance }} </td>
                        <td> {{ value.gbp }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-sm-4">
        </div>
    </div>
</div>

<footer class="bills-footer">
    <p><a>Total Monthly Payments: &pound; {{ total }} </a></p>
    <p><a>Cryptos: &pound; {{ coin_balance_gbp }} </a></p>
</footer>


{% endblock %}